html{
    box-sizing: border-box;
    position: relative;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
}

*,*:before,*:after{
    box-sizing: inherit;
}


.top-left-section, .top-right-section, .bottom-section{
    position: absolute;
}

.top-left-section, .top-right-section{
    top:34px;
}

.top-left-section{
    height: 300px;
    width: 400px;
    left: 95px;
}

h1{
    color: hsl(300, 43%, 22%);
    font-size: 52px;
    font-weight: 600;
}

.top-left-section p{
    color: hsla(300, 43%, 22%,0.6);
    font-size: 19px;
}

.top-right-section{
    height: 300px;
    width: 505px;
    right: 190px;
    display: flex;
    flex-direction: column;
    
}


.top-right-section .star img{
    height: 30px;
    width: 30px;
    
}

#star-box-1, #star-box-2,#star-box-3{
    height: 33.3%;
    width: 100%;
    border-radius: 8px;
    margin-top: 45px;
    position: relative;
    background-color: hsla(333, 80%, 67%,0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    transition: width 0.8s;
    transition: all 0.3s;

}


#star-box-2{
   
    left: 27.5px;
}

#star-box-3{
    
    left: 55px;
}

.bottom-section{
    height: 255px;
    width: 85%;
    bottom: 111px;
    left: 95px;
    display: flex;
    justify-content: space-between;
}


#review-box-1, #review-box-2, #review-box-3{
    height: 100%;
    width: 30%;
    position: relative;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 33px;
    color: white;
    box-shadow: 14px 20px 24px -15px rgba(0,0,0,0.59);
    transition: font-size 0.8s;
    transition: all 0.3s;
}

#review-box-1:hover, #review-box-2:hover, #review-box-3:hover

{
    box-shadow: -24px -1px 41px -19px rgba(0,0,0,0.75);
        transform: scale(1.05);
      
}
#star-box-1:hover, #star-box-2:hover,#star-box-3:hover{
box-shadow: 14px 20px 24px -15px rgba(0,0,0,0.59);
transform: scale(1.05);

}

#review-box-2{
    top:25px;
}

#review-box-3{
    top:50px;
}

#client-1, #client-2,#client-3{
    display: flex;
}

span{
    color:hsl(333, 80%, 67%)
}

.bottom-section p{
    line-height: 21px;
}

.client-name{
    position: relative;
    left: 16px;
}

.bottom-section img{
    border-radius: 60px;
    height: 50px; 
    position: relative;
    top: 5px;
}





@media(max-width:1148px){
    #star-box-1, #star-box-2,#star-box-3{
        width: 70%;
        }
}

@media(max-width:1045px)
{
    #review-box-1, #review-box-2, #review-box-3{
       font-size: 60%;
        }
}

@media(max-width:741px)
{

    #review-box-1, #review-box-2, #review-box-3{
    width: 80%;
    font-size: 100%;
    }

    
    .top-left-section{
       flex-direction: column;
    }

    .top-right-section{
        justify-content: center;
        left: 65px;
        width: 90%;
        
    }

    .top-right-section {
        top: 300px;
    }

    .bottom-section{
        top:700px;
    }


    #star-box-1, #star-box-2,#star-box-3{
    width: 90%;
    }


    #star-box-2{
   
        left: 0px;
    }
    
    #star-box-3{
        
        left: 0px;
    }



    .bottom-section{
        flex-direction: column;
    }

}